<a href="https://colab.research.google.com/github/salgilad/Anomaly_Detection_Lab5/blob/main/Fernandez_Firebase_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

data = {
    "Student": ["Gilad", "Geto", "George", "Lolot", "Perci"],
    "Math Grade": [85, 78, 92, 70, 60],
    "Science Grade": [76, 90, 82, 88, 72],
    "English Grade": [90, 85, 78, 95, 70],
    "Average Grade": [0, 0, 0, 0, 0],
    "Pass/Fail": ["", "", "", "", ""]
}

df = pd.DataFrame(data)

df['Average Grade'] = df[['Math Grade', 'Science Grade', 'English Grade']].mean(axis=1)


def pass_fail(average):
  if average >= 75:
    return "Pass"
  else:
    return "Fail"

df["Pass/Fail"] = df["Average Grade"].apply(pass_fail)

df = df[["Student", "Math Grade", "Science Grade", "English Grade", "Average Grade", "Pass/Fail"]]

print(df)

  Student  Math Grade  Science Grade  English Grade  Average Grade Pass/Fail
0   Gilad          85             76             90      83.666667      Pass
1    Geto          78             90             85      84.333333      Pass
2  George          92             82             78      84.000000      Pass
3   Lolot          70             88             95      84.333333      Pass
4   Perci          60             72             70      67.333333      Fail